<table *ngIf="role === 'gradjanin'">
  <thead>
    <tr>
      <th>Dokument</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dokumenta; let i=index">
      <td><a [href]="item">{{item}}</a></td>
    </tr>
  </tbody>
</table>

<table *ngIf="role === 'sluzbenik'">
  <thead>
    <tr>
      <th>Dokument</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dokumenta; let i=index">
      <td><a [href]="item">{{item}}</a></td>
      <td><button (click)="prihvatiZahtev(item.split('/')[4])">Prihvati zahtev</button></td>
      <td><button (click)="odbijZahtev(item)">Odbij zahtev</button></td>
    </tr>
  </tbody>
</table>
