.container {
    width: 100%;
}
  
.xonomyDiv {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
    padding: 2%;
}


.htmlView {
    height: 100%;
}

.halfScreen {
    width: 50vw;
    height: 100%;
}